<html>

<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div id="scripts">
    <nav-button :state="state" v-on:toggled="toggleScripts"></nav-button>
  </div>
  <template id="nav-button">
    <div class="nav-button" v-on:click="toggleVisibility"><span>{{ state }} </span></div>
  </template>
  <template id="all-scripts">
    <div>
      <div v-for="group in scriptCategories">
        <group-scripts :title="group.Title" :category="group.Category"></group-scripts>
      </div>
    </div>
  </template>
  <template id="script-group">
    <div>
      <h2>{{ title }}</h2>

      <div v-for="entry in entries" v-if="entry.Visible && entry.Category === category">
        <enabled-object :entry="entry"></enabled-object>
      </div>
    </div>
  </template>
  <template id="enabled-object">
    <div>
      <input type="checkbox" v-bind:checked="entry.Enabled" :name="entry.Name" v-on:click="addEntry" v-hidden="entry.Enabled != null"
        :id="enabledID">
      <label v-bind:for="entry.Name">{{ entry.Text }}</label>
      <input type="number" min="1" max="100" v-bind:value="entry.Value" :name="entry.Name" v-if="entry.Value" :id="ValueID" v-on:change="updateValue">

    </div>
  </template>
  <script src="kgscripts.js"></script>
</body>

</html>